<div [@slideInOut]="getRouteAnimation(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<div
  class="bottom-menu-buttons"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="50px"
>
  <a
    mat-fab
    class="full-size-button"
    color="primary"
    matTooltip="Jestem studentem - rozwiń pomoc dla mnie"
    routerLink="student"
  >
    <mat-icon class="full-size-icon">face</mat-icon>
  </a>
  <a
    mat-fab
    class="full-size-button"
    color="primary"
    matTooltip="Jestem nauczycielem - rozwiń pomoc dla mnie"
    routerLink="teacher"
  >
    <mat-icon class="full-size-icon">assignment_ind</mat-icon>
  </a>
</div>
