<div [@slideInOut]="getRouteAnimation(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<div
  class="bottom-menu-buttons"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="50px"
>
  <cho-bottom-action-button
    icon="school"
    tooltip="Jestem studentem - rozwiń pomoc dla mnie"
    (action)="navigateStudentHelp()"
  ></cho-bottom-action-button>
  <cho-bottom-action-button
    icon="assignment_ind"
    tooltip="Jestem nauczycielem - rozwiń pomoc dla mnie"
    (action)="navigateTeacherHelp()"
  ></cho-bottom-action-button>
</div>
