<cho-base-panel
  panelIcon="/assets/adm/user-details.jpg"
  panelTitle="Zarejestrowani użytkownicy"
  panelSubtitle="tutaj znajdziesz listę wszystkich zarejestrowanych w aplikacji użytkowników"
>
  <mat-card-content fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxFlex></div>
    <cho-row-action-button
      icon="keyboard_arrow_left"
      tooltip="Wyloguj"
      color="primary"
      (action)="logout()"
    >
    </cho-row-action-button>
  </mat-card-content>

  <mat-form-field appearance="outline" class="search">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Szukaj</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Imię, nazwisko, klasa lub numer w dzienniku ucznia"
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="disabled">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aktywna</th>
      <td mat-cell *matCellDef="let userDisplay">
        <span>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            *ngIf="userDisplay.disabled; then thenBlock; else elseBlock"
          ></div>
          <ng-template #thenBlock>
            <mat-icon matTooltip="Konto zostało wyłączone">
              lock
            </mat-icon>
          </ng-template>
          <ng-template #elseBlock>
            <mat-icon matTooltip="Konto jest aktywne">
              lock_open
            </mat-icon>
          </ng-template>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Imię i nazwisko</th>
      <td mat-cell *matCellDef="let userDisplay">
        <span>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <img
              class="avatar user-row-avatar"
              [src]="getUserAvatarUrl(userDisplay)"
              [alt]="userDisplay.displayName"
            />
            <span>{{ userDisplay.displayName }}</span>
          </div>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="studentClass">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa klasy</th>
      <td mat-cell *matCellDef="let userDisplay">
        <span>
          {{ userDisplay.details.studentClass }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="studentNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Numer w dzienniku
      </th>
      <td mat-cell *matCellDef="let userDisplay">
        <span>
          {{ userDisplay.details.studentNo }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let userDisplay"
        fxLayout="row"
        fxLayoutAlign="end"
      >
        <span>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="5px"
            class="row-action"
            [class.row-action-hover]="userDisplay === selectedRow"
          >
            <mat-icon class="full-size-icon">more_vert</mat-icon>

            <cho-row-action-button
              tooltip="Edytuj użytkownika"
              icon="edit"
              color="primary"
              (action)="openEditSelectedItemDialog(userDisplay)"
            ></cho-row-action-button>
            <cho-row-action-button
              [tooltip]="
                userDisplay.emailVerified
                  ? 'Adres e-mail został już zweryfikowany'
                  : 'Weryfikuj adres e-mail'
              "
              icon="verified_user"
              color="link"
              [disabled]="userDisplay.emailVerified"
              (action)="openVerifyEmailDialog(userDisplay)"
            ></cho-row-action-button>
            <cho-row-action-button
              tooltip="Zresetuj hasło"
              icon="replay"
              color="link"
              (action)="openPasswordResetDialog(userDisplay)"
            ></cho-row-action-button>
            <cho-row-action-button
              tooltip="Usuń użytkownika"
              icon="delete_outline"
              color="warn"
              (action)="openDeleteSelectedItemDialog(userDisplay)"
            ></cho-row-action-button>
          </div>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let userDisplay; columns: columnsToDisplay"
      (mouseenter)="mouseEnter(userDisplay)"
      (mouseleave)="mouseLeave()"
      (click)="openViewSelectedItemDialog(userDisplay)"
    ></tr>
  </table>

  <cho-spinner
    loadingMessage="Ładowanie listy użytkowników..."
    [isLoading]="dataSource.isLoading$ | async"
  ></cho-spinner>
</cho-base-panel>
