rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // True if the user is signed in or the requested data is 'public'
    function signedInOrPublic() {
      return request.auth.uid != null || resource.data.visibility == 'public';
    }
    
  	function isAdmin() {
      return get(/databases/$(database)/documents/user-roles/$(request.auth.uid)).data.admin == true;
    }
    
    match /class-dict/{document=**} {
      allow read: if true;
    	allow write: if isAdmin();
   }
    match /assignment-dict/{document=**} {
      allow read: if signedInOrPublic();
      allow write: if isAdmin();
    }
    match /dictionaries/{document=**} {
      allow read: if signedInOrPublic();
      allow write: if isAdmin();
    }
    match /homework-paths/{document=**} {
      allow read: if signedInOrPublic();
      allow write: if isAdmin();
    }
    match /sent-homeworks/{document=**} {
      allow read: if signedInOrPublic();
      allow write: if signedInOrPublic();
    }
    match /subject-dict/{document=**} {
      allow read: if signedInOrPublic();
      allow write: if isAdmin();
    }
    match /user-details/{document=**} {
      allow read: if signedInOrPublic();
      allow write: if signedInOrPublic();
    }
    match /user-roles/{document=**} {
      allow read: if signedInOrPublic();
      allow write: if signedInOrPublic();
    }
  }
}