<mat-card
  class="containter mat-elevation-z bottom-sheet-container"
  fxLayout="column"
  fxLayoutAlign="space-around"
>
  <mat-card-header>
    <mat-card-title>Uzupełnij swoje dane</mat-card-title>
    <mat-card-subtitle> </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="row">
    <form
      fxLayout="column"
      fxLayoutAlign="space-evenly"
      fxLayoutGap="10px"
      fxFlex="100%"
      class="form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <div
        class="full-width"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutGap="10px"
        fxLayoutAlign="space-evenly"
      >
        <span class="full-width" *ngIf="!userMailDefaultValue">
          <mat-form-field class="full-width">
            <mat-label>Adres e-mail</mat-label>
            <input
              matInput
              formControlName="userMail"
              placeholder="Adres e-mail"
              type="email"
            />
            <mat-error
              *ngIf="userMail.invalid && (userMail.touched || submitted)"
            >
              Podaj proszę prawidłowy adres e-mail
            </mat-error>
          </mat-form-field>
        </span>
      </div>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutGap="10px"
        fxLayoutAlign="space-evenly"
      >
        <span class="full-width" *ngIf="!studentClassDefaultValue">
          <mat-form-field class="full-width">
            <mat-label>Klasa</mat-label>
            <input
              matInput
              formControlName="studentClass"
              placeholder="7A"
              type="text"
            />
            <mat-error
              *ngIf="
                (studentClass.touched || submitted) &&
                studentClass.errors?.required
              "
            >
              Podaj proszę swoją nazwę klasy
            </mat-error>
            <mat-error
              *ngIf="
                (studentClass.touched || submitted) &&
                studentClass.errors?.class
              "
            >
              Dana klasa nie istnieje, podaj proszę inną
            </mat-error>
          </mat-form-field>
        </span>
        <span class="full-width" *ngIf="!studentNoDefaultValue">
          <mat-form-field class="full-width">
            <mat-label>Numer w dzienniku</mat-label>
            <input
              matInput
              formControlName="studentNo"
              placeholder="1"
              type="number"
            />
            <mat-error
              *ngIf="
                (studentNo.touched || submitted) && studentNo.errors?.required
              "
            >
              Podaj proszę numer z dziennika
            </mat-error>
            <mat-error
              *ngIf="
                (studentNo.touched || submitted) && studentNo.errors?.noClass
              "
            >
              {{ studentClass.value }} nie istnieje
            </mat-error>
            <mat-error
              *ngIf="(studentNo.touched || submitted) && studentNo.errors?.no"
            >
              Dany numer jest niepoprawny dla klasy {{ studentClass.value }}
            </mat-error>
          </mat-form-field>
        </span>
      </div>
      <button mat-raised-button color="primary" type="submit">
        Uzupełnij
      </button>
    </form>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
