.login-card {
  min-width: 300px;
  max-width: 300px;
  @media (min-width: 600px) {
    max-width: 500px;
  }
  width: 100%;
}

.login-key-mat-avatar {
  background-image: url("/assets/login-key-mat-avatar.jpg");
  background-size: cover;
}

.login-divider {
  padding-bottom: 10px;
}

.form {
  margin-bottom: 0px !important;
}
