<h2 mat-dialog-title>
  {{
    editMode
      ? viewMode
        ? "Szczegóły przedmiotu lekcji"
        : "Zmień przedmiot lekcji"
      : "Dodaj nowy przedmiot lekcji"
  }}
</h2>

<mat-dialog-content>
  <form
    class="form"
    fxLayout="column"
    fxLayoutAlign="space-between"
    fxLayoutGap="10px"
    [formGroup]="form"
  >
    <fieldset>
      <legend>Podstawowe dane</legend>

      <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <mat-form-field class="full-width">
          <mat-label>Nazwa lekcji</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="Nazwa lekcji"
            type="text"
          />
          <mat-error *ngIf="name.invalid && name.touched">
            Podaj proszę nazwę lekcji
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Adres e-mail nauczyciela</mat-label>
          <input
            matInput
            formControlName="teacherEmail"
            placeholder="przykład@mail.com"
            type="email"
          />
          <mat-error *ngIf="teacherEmail.invalid && teacherEmail.touched">
            Podaj proszę prawidłowy adres e-mail
          </mat-error>
        </mat-form-field>
      </div>
    </fieldset>
  </form>
  <cho-spinner
    [loadingMessage]="loadingMessage"
    [isLoading]="isLoading"
  ></cho-spinner>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!viewMode" fxLayoutAlign="space-around center">
  <button mat-button (click)="onReset()">Resetuj</button>
  <div fxFlex></div>
  <div>
    <button mat-button (click)="onCancel()">Anuluj</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      {{
        editMode
          ? form.pristine
            ? "Zamknij"
            : "Zmień przedmiot lekcji"
          : "Dodaj przedmiot lekcji"
      }}
    </button>
  </div>
</mat-dialog-actions>
