<cho-base-panel
  panelIcon="/assets/adm/sent-homeworks.png"
  panelTitle="Przesłane zadania"
  panelSubtitle="tutaj znajdziesz wszystkie przesłane przez uczniów zadania do listy prezentowanych lekcji"
>
  <mat-card-content fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxFlex></div>
    <cho-row-action-button
      icon="keyboard_arrow_left"
      tooltip="Wyloguj"
      color="primary"
      (action)="logout()"
    >
    </cho-row-action-button>
  </mat-card-content>

  <mat-form-field appearance="outline" class="search">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Szukaj</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Nazwa lekcji, imię, nazwisko lub klasa ucznia"
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aktywna</th>
      <td mat-cell *matCellDef="let homeworkPath">
        <span>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            *ngIf="homeworkPath.active; then thenBlock; else elseBlock"
          ></div>
          <ng-template #thenBlock
            ><mat-icon
              matTooltip="Uczeń może przesyłać zadania do aktywnej lekcji"
              >lock_open</mat-icon
            ></ng-template
          >
          <ng-template #elseBlock
            ><mat-icon matTooltip="Lekcja nie jest widoczna dla uczniów"
              >lock</mat-icon
            ></ng-template
          >
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="assignments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zadania</th>
      <td mat-cell *matCellDef="let homeworkPath">
        <span>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="-15px"
          >
            <div
              *ngFor="let assignment of homeworkPath.assignments"
              [matTooltip]="assignment.name"
            >
              <button mat-mini-fab disabled class="small-action-button">
                <mat-icon class="small-action-icon">{{
                  assignment.icon
                }}</mat-icon>
              </button>
            </div>
          </div>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="classNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Klasa</th>
      <td mat-cell *matCellDef="let homeworkPath">
        <span>
          {{ homeworkPath.classNo }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Zdefiniowana
      </th>
      <td mat-cell *matCellDef="let homeworkPath">
        <span>
          {{ getDate(homeworkPath.date) | date: "fullDate" }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Przedmiot
      </th>
      <td mat-cell *matCellDef="let homeworkPath">
        <span>
          {{ homeworkPath.subject.name }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="topic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Temat lekcji
      </th>
      <td mat-cell *matCellDef="let homeworkPath">
        <span>
          {{ homeworkPath.topic }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="sentHomeworks">
      <td
        mat-cell
        *matCellDef="let homeworkPath"
        [attr.colspan]="columnsToDisplay.length"
      >
        <cho-sent-homeworks-inner-table
          [homeworkPath]="homeworkPath"
          [data]="homeworkPath.sentHomeworks"
          [filter]="dataSource.filter"
          [@detailExpand]="isExpanded(homeworkPath) ? 'expanded' : 'collapsed'"
          (onOpenGalleryForFile)="openGalleryForFile($event)"
        >
        </cho-sent-homeworks-inner-table>
      </td>
    </ng-container>

    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let homeworkPath"
        fxLayout="row"
        fxLayoutAlign="end"
      >
        <span>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="5px"
            class="row-action"
            [class.row-action-hover]="homeworkPath === selectedRow"
          >
            <mat-icon class="full-size-icon">more_vert</mat-icon>

            <cho-row-action-button
              tooltip="Zobacz szczegóły lekcji"
              icon="remove_red_eye"
              color="primary"
              (action)="openViewSelectedItemDialog(homeworkPath)"
            ></cho-row-action-button>
            <cho-row-action-button
              color="link"
              [tooltip]="
                isExpanded(homeworkPath)
                  ? 'Ukryj przesłane zadania'
                  : 'Pokaż przesłane zadania'
              "
              [icon]="isExpanded(homeworkPath) ? 'expand_less' : 'expand_more'"
              (action)="
                expandedItem = isExpanded(homeworkPath) ? null : homeworkPath
              "
            ></cho-row-action-button>
          </div>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr
      mat-row
      class="outer-row"
      *matRowDef="let homeworkPath; columns: columnsToDisplay"
      (click)="expandedItem = isExpanded(homeworkPath) ? null : homeworkPath"
      (mouseenter)="mouseEnter(homeworkPath)"
      (mouseleave)="mouseLeave()"
    ></tr>
    <tr
      mat-row
      class="inner-row"
      *matRowDef="let homeworkPath; columns: ['sentHomeworks']"
    ></tr>
  </table>

  <cho-spinner
    loadingMessage="Ładowanie listy zadań..."
    [isLoading]="dataSource.isLoading$ | async"
  ></cho-spinner>
</cho-base-panel>

<cho-sent-homework-files-gallery
  [selectedFile]="selectedFileForGallery"
  [fileGallery]="selectedFileForGallery ? [selectedFileForGallery] : undefined"
  [subPanelEnabled]="true"
  [panelEnabled]="false"
  (onClose)="onGalleryClosed()"
  (onImageClicked)="onGalleryClosed()"
></cho-sent-homework-files-gallery>
