.mat-icon-option-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

fieldset {
  min-width: 600px;
}

label {
  font-weight: bold;
  color: #673ab7;
  min-width: 100px;
}

.assignments-table {
  min-height: 250px;
  max-height: 250px;
}

.mat-row td {
  border-bottom: none;
}

ng-scrollbar {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: #e5d7fd;
  --scrollbar-thumb-hover-color: #673ab7;
  --scrollbar-border-radius: 4px;
}
