<h2 mat-dialog-title>{{ editMode ? "Zmień lekcję" : "Dodaj nową leckję" }}</h2>
<mat-dialog-content>
  <form
    class="form"
    fxLayout="column"
    fxLayoutAlign="space-between"
    fxLayoutGap="10px"
    [formGroup]="homeworkPathForm"
  >
    <fieldset>
      <legend>Podstawowe dane</legend>
      <div fxLayoutAlign="end">
        <mat-slide-toggle
          formControlName="active"
          color="primary"
          [checked]="active.value"
          (change)="activeToggle($event)"
        >
          Czy lekcja jest aktywna
        </mat-slide-toggle>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <mat-form-field class="full-width">
          <mat-label>Przedmiot nauczania</mat-label>
          <mat-select formControlName="subject">
            <mat-option
              *ngFor="let subject of subjects$ | async"
              [value]="subject.name"
            >
              {{ subject.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="subject.invalid && subject.touched"
            >Proszę wybierz nazwę przedmiotu
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Klasa</mat-label>
          <mat-select formControlName="classNo">
            <mat-option *ngFor="let class of classes$ | async" [value]="class">
              {{ class }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="classNo.invalid && classNo.touched"
            >Proszę wybierz klasę
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <mat-label>Temat lekcji</mat-label>
          <input
            matInput
            formControlName="topic"
            placeholder="Temat lekcji"
            type="text"
          />
          <mat-error *ngIf="topic.invalid && topic.touched">
            Podaj proszę temat lekcji
          </mat-error>
        </mat-form-field>
      </div>
    </fieldset>
    <fieldset>
      <legend>Zadania</legend>
      <ng-scrollbar track="vertical" appearance="standard" [disabled]="false">
        <div class="assignments-table">
          <table
            mat-table
            [dataSource]="assignmentRows"
            formArrayName="assignments"
          >
            <!-- Numer Column -->
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef>Numer</th>
              <td mat-cell *matCellDef="let row; let index = index">
                {{ index + 1 }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nazwa zadania</th>
              <td
                mat-cell
                *matCellDef="let row; let index = index"
                [formGroupName]="index"
              >
                <mat-form-field class="full-width">
                  <input
                    matInput
                    formControlName="name"
                    placeholder="Nazwa zadania"
                    aria-label="State"
                    [matAutocomplete]="auto"
                    (keyup)="
                      onAssignmentNameInputChange(index, $event.target.value)
                    "
                    (blur)="onAssignmentNameBlur(index, $event.target.value)"
                  />
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    (optionSelected)="
                      onAutoCompleteAassignmentSelected(index, $event)
                    "
                  >
                    <mat-option
                      *ngFor="
                        let assignment of assignmentRows[index]
                          .filteredAssignments$ | async
                      "
                      [value]="assignment.name"
                    >
                      <mat-icon class="action-icon">{{
                        assignment.icon
                      }}</mat-icon>
                      <span
                        [innerHTML]="
                          assignment.name
                            | highlightSearch: assignmentName(index).value
                        "
                      ></span>
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error
                    *ngIf="
                      assignmentName(index).invalid &&
                      assignmentName(index).touched
                    "
                  >
                    Podaj proszę nazwę zadania
                  </mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Icon Column -->
            <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef>Ikona</th>
              <td
                mat-cell
                *matCellDef="let row; let index = index"
                [formGroupName]="index"
              >
                <div
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  fxLayoutGap="10px"
                  [class.hidden]="isPlaceholderForNextAssignment(index)"
                >
                  <div matTooltip="Poprzednia ikona">
                    <button
                      mat-mini-fab
                      class="small-button"
                      color="primary"
                      (click)="previousAssignmentIcon(index)"
                    >
                      <mat-icon class="small-icon">navigate_before</mat-icon>
                    </button>
                  </div>
                  <mat-icon class="action-icon">{{
                    getIconName(assignmentIconIdx(index).value)
                  }}</mat-icon>
                  <div matTooltip="Następna ikona">
                    <button
                      mat-mini-fab
                      class="small-button"
                      color="primary"
                      (click)="nextAssignmentIcon(index)"
                    >
                      <mat-icon class="small-icon">navigate_next</mat-icon>
                    </button>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="assignmentColumns; sticky: true"
            ></tr>

            <tr mat-row *matRowDef="let row; columns: assignmentColumns"></tr>
          </table>
        </div>
      </ng-scrollbar>
    </fieldset>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="space-around center">
  <button mat-button (click)="onReset()">Resetuj</button>
  <div fxFlex></div>
  <div>
    <button mat-button (click)="onCancel()">Anuluj</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      {{ editMode ? "Zmień lekcję" : "Dodaj lekcję" }}
    </button>
  </div>
</mat-dialog-actions>
