.mat-icon-option-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

fieldset {
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #673ab7;
}

legend {
  color: #673ab7;
}

mat-dialog-actions {
  margin-top: 25px;
}

label {
  font-weight: bold;
  color: #673ab7;
  min-width: 100px;
}
