<cho-base-table-panel
  panelIcon="/assets/adm/assignments.jpg"
  panelTitle="Zdefiniowane zadania"
  panelSubtitle="tutaj znajdziesz listę wszystkich predefiniowanych zadań, które można przypisać do lekcji do wykonania przez uczniów"
  searchPlaceholder="Nazwa zadania"
  loadingMessage="Ładowanie listy zadań..."
  [dataSource]="dataSource"
>
  <mat-card-content fxFlex fxLayout="column" fxLayoutGap="10px">
    <cho-row-action-button
      icon="library_add"
      tooltip="Dodaj zadanie"
      color="primary"
      (action)="openAddSelectedItemDialog()"
    >
    </cho-row-action-button>
    <div fxFlex></div>
    <cho-row-action-button
      icon="keyboard_arrow_left"
      tooltip="Wyloguj"
      color="primary"
      (action)="logout()"
    >
    </cho-row-action-button>
  </mat-card-content>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <td
        mat-cell
        *matCellDef="let assignment"
        fxLayout="row"
        fxLayoutAlign="center"
      >
        {{ assignment.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="icon">
      <td
        mat-cell
        fxLayout="row"
        fxLayoutAlign="center"
        *matCellDef="let assignment"
      >
        <mat-icon
          class="tile-icon"
          [class.tile-icon-hover]="assignment === selectedRow"
        >
          {{ assignment.icon }}
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="uid">
      <td mat-cell *matCellDef="let assignment">
        <div
          fxLayout="row"
          fxLayoutGap="50px"
          fxLayoutAlign="space-between"
          class="row-action"
          [class.row-action-hover]="assignment === selectedRow"
        >
          <cho-row-action-button
            tooltip="Edytuj lekcję"
            icon="edit"
            color="primary"
            (action)="openEditSelectedItemDialog()"
          >
          </cho-row-action-button>
          <cho-row-action-button
            tooltip="Usuń lekcję"
            icon="delete_outline"
            color="warn"
            (action)="openDeleteSelectedItemDialog()"
          >
          </cho-row-action-button>
        </div>
      </td>
    </ng-container>

    <tr
      mat-row
      fxLayout="column"
      fxLayoutAlign="center"
      *matRowDef="let assignment; columns: columnsToDisplay"
      (mouseenter)="mouseEnter(assignment)"
      (mouseleave)="mouseLeave()"
    ></tr>
  </table>
</cho-base-table-panel>
