<cho-base-panel
  panelIcon="/assets/adm/mat-icons.jpg"
  panelTitle="Zdefiniowane ikony"
  panelSubtitle="tutaj znajdziesz listę ikon dostępnych w aplikacji, które można przypisać zadaniom"
>
  <mat-card-content fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxFlex></div>
    <cho-row-action-button
      icon="keyboard_arrow_left"
      tooltip="Wyloguj"
      color="primary"
      (action)="logout()"
    >
    </cho-row-action-button>
  </mat-card-content>

  <mat-form-field appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Szukaj</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Nazwa ikony" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <td mat-cell fxLayout="row" fxLayoutAlign="center" *matCellDef="let icon">
        <mat-icon
          class="tile-icon"
          [matTooltip]="icon.name"
          [class.tile-icon-hover]="icon === selectedRow"
        >
          {{ icon.name }}
        </mat-icon>
      </td>
    </ng-container>

    <tr
      mat-row
      fxLayout="column"
      fxLayoutAlign="center"
      *matRowDef="let icon; columns: columnsToDisplay"
      [class.tile-icon-active]="icon.active"
      (click)="mouseClick(icon)"
      (mouseenter)="mouseEnter(icon)"
      (mouseleave)="mouseLeave()"
    ></tr>
  </table>

  <cho-spinner
    loadingMessage="Ładowanie ikon..."
    [isLoading]="dataSource.isLoading$ | async"
  ></cho-spinner>
</cho-base-panel>
