.mat-row {
  border: 1px solid #673ab7;
  border-radius: 1px solid #673ab7;
  border-radius: 20px;
  height: auto;
  float: left;
  margin: 0.5rem;
  opacity: 0.5;

  td {
    border-bottom: none;
    padding: 10px;
  }

  &.tile-icon-active {
    background-color: #e5d7fd;
    opacity: 1;

    &:hover {
      background-color: #673ab7;
    }
  }

  &:hover {
    background-color: #e5d7fd;
    opacity: 1;
  }
}

mat-form-field.search {
  min-width: 200px;
}
