<cho-base-table-panel
  panelIcon="/assets/adm/subjects.jpg"
  panelTitle="Zdefiniowane przedmioty lekcji"
  panelSubtitle="tutaj znajdziesz listę wszystkich zdefiniowanych w aplikacji przedmiotów lekcji"
  searchPlaceholder="Nazwa przedmiotu lekcji"
  loadingMessage="Ładowanie listy przedmiotów lekcji..."
  [dataSource]="dataSource"
>
  <mat-card-content fxFlex fxLayout="column" fxLayoutGap="10px">
    <cho-row-action-button
      icon="library_add"
      tooltip="Dodaj przedmiot lekcji"
      color="primary"
      (action)="openAddSelectedItemDialog()"
    >
    </cho-row-action-button>
    <div fxFlex></div>
    <cho-row-action-button
      icon="keyboard_arrow_left"
      tooltip="Wyloguj"
      color="primary"
      (action)="logout()"
    >
    </cho-row-action-button>
  </mat-card-content>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Przedmiot lekcji
      </th>
      <td mat-cell *matCellDef="let subject">
        <span>
          {{ subject.name }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let subject" fxLayout="row" fxLayoutAlign="end">
        <span>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="5px"
            class="row-action"
            [class.row-action-hover]="subject === selectedRow"
          >
            <mat-icon class="full-size-icon">more_vert</mat-icon>

            <cho-row-action-button
              tooltip="Edytuj przedmiot lekcji"
              icon="edit"
              color="primary"
              (action)="openEditSelectedItemDialog()"
            ></cho-row-action-button>
            <cho-row-action-button
              tooltip="Usuń przedmiot lekcji"
              icon="delete_outline"
              color="warn"
              (action)="openDeleteSelectedItemDialog()"
            ></cho-row-action-button>
          </div>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let subject; columns: columnsToDisplay"
      (mouseenter)="mouseEnter(subject)"
      (mouseleave)="mouseLeave()"
    ></tr>
  </table>
</cho-base-table-panel>
