<h2 mat-dialog-title>
  {{
    editMode
      ? viewMode
        ? "Szczegóły zadania"
        : "Zmień zadanie"
      : "Dodaj nowe zadanie"
  }}
</h2>
<mat-dialog-content>
  <form
    class="form"
    fxLayout="column"
    fxLayoutAlign="space-between"
    fxLayoutGap="10px"
    [formGroup]="form"
  >
    <fieldset>
      <legend>Podstawowe dane</legend>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <mat-form-field class="full-width">
          <mat-label>Nazwa zadania</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="Zadanie domowe"
            type="text"
          />
          <mat-error *ngIf="name.invalid && name.touched">
            Podaj proszę nazwę zadania domowego
          </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <div [matTooltip]="viewMode ? '' : 'Poprzednia ikona'">
            <button
              mat-mini-fab
              class="small-action-button"
              color="primary"
              [disabled]="viewMode"
              (click)="previousAssignmentIcon()"
            >
              <mat-icon class="small-action-icon">navigate_before</mat-icon>
            </button>
          </div>
          <mat-icon class="action-icon" [class.icon-disabled]="viewMode">{{
            getIconName()
          }}</mat-icon>
          <div [matTooltip]="viewMode ? '' : 'Następna ikona'">
            <button
              mat-mini-fab
              class="small-action-button"
              color="primary"
              [disabled]="viewMode"
              (click)="nextAssignmentIcon()"
            >
              <mat-icon class="small-action-icon">navigate_next</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <cho-spinner
    [loadingMessage]="loadingMessage"
    [isLoading]="isLoading"
  ></cho-spinner>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!viewMode" fxLayoutAlign="space-around center">
  <button mat-button (click)="onReset()">Resetuj</button>
  <div fxFlex></div>
  <div>
    <button mat-button (click)="onCancel()">Anuluj</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      {{
        editMode
          ? form.pristine
            ? "Zamknij"
            : "Zmień zadanie"
          : "Dodaj zadanie"
      }}
    </button>
  </div>
</mat-dialog-actions>
