<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <mat-card class="reset-password-card">
    <mat-card-header>
      <div mat-card-avatar class="reset-password-key-mat-avatar"></div>
      <mat-card-title>Przypomnij hasło do konta</mat-card-title>
      <mat-card-subtitle
        >podając adres e-mail. Jeśli takowy jest przypisany do istniejącego
        konta, zostanie wysłane na niego przypomnienie hasła.</mat-card-subtitle
      >
    </mat-card-header>
    <mat-divider class="reset-password-divider"></mat-divider>
    <mat-card-content
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <div fxFlex></div>
      <form
        fxLayout="column"
        fxLayoutAlign="space-evenly"
        fxLayoutGap="10px"
        fxFlex="100%"
        class="form"
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field class="full-width">
          <mat-label>Adres e-mail</mat-label>
          <input
            matInput
            formControlName="userMail"
            placeholder="Adres e-mail"
            type="email"
          />
          <mat-error
            *ngIf="userMail.invalid && (userMail.touched || submitted)"
          >
            Podaj proszę prawidłowy adres e-mail
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          Przypomnij hasło
        </button>
        <button
          mat-button
          color="primary"
          type="button"
          (click)="onLoginButtonClick()"
        >
          lub zaloguj się
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions class="empty-card-actions"></mat-card-actions>
    <cho-spinner
      [loadingMessage]="loadingMessage"
      [isLoading]="isLoading"
    ></cho-spinner>
  </mat-card>
</div>
