<cho-base-panel
  panelIcon="/assets/adm/classes.jpg"
  panelTitle="Zdefiniowane klasy"
  panelSubtitle="tutaj znajdziesz listę wszystkich zdefiniowanych w aplikacji klas"
>
  <mat-card-content fxFlex fxLayout="column" fxLayoutGap="10px">
    <cho-row-action-button
      icon="library_add"
      tooltip="Dodaj klasę"
      color="primary"
      (action)="openAddSelectedItemDialog()"
    >
    </cho-row-action-button>
    <div fxFlex></div>
    <cho-row-action-button
      icon="keyboard_arrow_left"
      tooltip="Wyloguj"
      color="primary"
      (action)="logout()"
    >
    </cho-row-action-button>
  </mat-card-content>

  <mat-form-field appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Szukaj</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Nazwa klasy" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="classNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer klasy</th>
      <td mat-cell *matCellDef="let class">
        <span>
          {{ class.classNo }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="subclass">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa klasy</th>
      <td mat-cell *matCellDef="let class">
        <span>
          {{ class.subclass }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="studentCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Liczba uczniów</th>
      <td mat-cell *matCellDef="let class">
        <span>
          {{ class.studentCount }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let class" fxLayout="row" fxLayoutAlign="end">
        <span>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="5px"
            class="row-action"
            [class.row-action-hover]="class === selectedRow"
          >
            <mat-icon class="full-size-icon">more_vert</mat-icon>

            <cho-row-action-button
              tooltip="Edytuj klasę"
              icon="edit"
              color="primary"
              (action)="openEditSelectedItemDialog()"
            ></cho-row-action-button>
            <cho-row-action-button
              tooltip="Usuń klasę"
              icon="delete_outline"
              color="warn"
              (action)="openDeleteSelectedItemDialog()"
            ></cho-row-action-button>
          </div>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let class; columns: columnsToDisplay"
      (mouseenter)="mouseEnter(class)"
      (mouseleave)="mouseLeave()"
      (click)="openViewSelectedItemDialog()"
    ></tr>
  </table>

  <cho-spinner
    loadingMessage="Ładowanie listy klas..."
    [isLoading]="dataSource.isLoading$ | async"
  ></cho-spinner>
</cho-base-panel>
