@import "~firebaseui/dist/firebaseui.css";
@import "~@angular/material/theming";

$primary: mat-palette($mat-deep-purple);

.primary-color {
  color: mat-color($primary, default);
}

img.avatar {
  border-radius: 50%;
}

html,
body,
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

table {
  min-width: 100%;
}

fieldset {
  border-radius: 10px;
  padding: 20px;
  border: 2px solid mat-color($primary, default);
}

legend {
  color: mat-color($primary, default);
}

a {
  color: mat-color($primary, default);
  font-weight: bold;
}

mat-dialog-actions {
  margin-top: 24px;
  margin-bottom: 0px !important;
}

.hidden-router {
  margin: 0;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.font-bolder {
  font-weight: bolder !important;
}

.multiline-tooltip {
  white-space: pre-line;
}

.sub-bottom-menu-buttons {
  position: fixed;
  bottom: 6vh;
  left: 0;
  right: 0;
  z-index: 999;
}

.bottom-menu-buttons {
  position: fixed;
  bottom: 5vh;
  left: 0;
  right: 0;
  z-index: 999;
}

.logout-menu-button {
  position: fixed;
  bottom: 2vh;
  left: 2vh;
  right: 0;
  z-index: 999;
}

.inline-text-icon {
  position: relative;
  top: 7px;
  margin-top: -7px;
  transform: scale(0.8);
}

.icon-disabled {
  opacity: 0.2;
}

.icon-color {
  cursor: default;
  &.icon-color-to-review {
    background-color: #ffd740;
  }

  &.icon-color-reviewed {
    background-color: #3636f4;
  }

  &.icon-color-accepted {
    background-color: #36f442;
  }

  &.icon-color-rejected {
    background-color: #f44336;
  }
}

.small-action-icon {
  transform: scale(1);
}

.small-action-button {
  transform: scale(0.6) !important;
  font-size: x-large;
  font-weight: bold;
}

.action-icon {
  transform: scale(1.2);
}

.action-button {
  transform: scale(0.8) !important;
}

.full-size-icon {
  transform: scale(1);
}

.full-size-button {
  transform: scale(1) !important;
}

.big-icon {
  transform: scale(2);
}

.disabled {
  pointer-events: none;
}

mark {
  background-color: white;
  font-weight: bold;
}

.mat-sidenav-container,
.mat-sidenav-content,
.mat-tab-body-content {
  transform: none !important;
}
