@import "~firebaseui/dist/firebaseui.css";

img.avatar {
  border-radius: 50%;
}

html,
body,
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

table {
  min-width: 100%;
}

fieldset {
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #673ab7;
}

legend {
  color: #673ab7;
}

mat-dialog-actions {
  margin-top: 25px;
}

.hidden-router {
  margin: 0;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.small-icon {
  transform: scale(1);
}

.small-button {
  transform: scale(0.6) !important;
}

.action-icon {
  transform: scale(1.2);
}

.action-button {
  transform: scale(0.8) !important;
}

.full-size-icon {
  transform: scale(1);
}

.full-size-button {
  transform: scale(1) !important;
}

mark {
  background-color: white;
  font-weight: bold;
}
