<cho-spinner
  [loadingMessage]="loadingMessage"
  [isLoading]="
    isLoading ||
    isFinishUploadBottomSheetOpen ||
    isSelectSendTypeBottomSheetOpen ||
    isAddCommentForUploadDialogOpen
  "
  fullScreen="true"
></cho-spinner>

<span *ngIf="isUserWithDetails">
  <cho-upload-from-camera
    *ngIf="
      !isLoading &&
      attachementSourceTypeSelected ==
        SelectSendTypeBottomSheetAction.LoadFromCamera
    "
    (saveBlob)="onSaveBlob($event)"
  ></cho-upload-from-camera>
  <cho-upload-from-disk
    *ngIf="
      !isLoading &&
      attachementSourceTypeSelected ==
        SelectSendTypeBottomSheetAction.LoadFromDisk
    "
    (saveBlob)="onSaveBlob($event)"
  ></cho-upload-from-disk>

  <div
    class="bottom-menu-buttons"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="50px"
    *ngIf="
      !isLoading &&
      !isSelectSendTypeBottomSheetOpen &&
      !isFinishUploadBottomSheetOpen &&
      !isAddCommentForUploadDialogOpen &&
      !isSending
    "
  >
    <cho-bottom-action-mini-button
      [style.visibility]="'hidden'"
    ></cho-bottom-action-mini-button>
    <cho-bottom-action-button
      icon="more_horiz"
      tooltip="Przywołaj menu wyboru"
      (action)="openSelectAttachmentSourceDialog()"
    ></cho-bottom-action-button>
    <cho-bottom-action-mini-button
      icon="description"
      tooltip="Uzupełnij przesyłany plik o dowolny komentarz"
      (action)="openAddCommentForUploadDialog()"
    ></cho-bottom-action-mini-button>
  </div>
</span>
