<cho-spinner
  [loadingMessage]="loadingMessage"
  [isLoading]="
    isLoading ||
    isFinishUploadBottomSheetOpen ||
    isSelectSendTypeBottomSheetOpen ||
    isAddCommentForUploadDialogOpen
  "
  fullScreen="true"
></cho-spinner>

<span *ngIf="isUserWithDetails">
  <cho-upload-from-camera
    *ngIf="
      !isLoading &&
      attachementSourceTypeSelected ==
        SelectSendTypeBottomSheetAction.LoadFromCamera
    "
    (saveBlob)="onSaveBlob($event)"
  ></cho-upload-from-camera>
  <cho-upload-from-disk
    *ngIf="
      !isLoading &&
      attachementSourceTypeSelected ==
        SelectSendTypeBottomSheetAction.LoadFromDisk
    "
    (saveBlob)="onSaveBlob($event)"
  ></cho-upload-from-disk>

  <div
    class="bottom-menu-buttons"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="50px"
    *ngIf="
      !isLoading &&
      !isSelectSendTypeBottomSheetOpen &&
      !isFinishUploadBottomSheetOpen &&
      !isAddCommentForUploadDialogOpen &&
      !isSending
    "
  >
    <button
      mat-mini-fab
      class="action-button"
      color="primary"
      matTooltip=""
      [style.visibility]="'hidden'"
    >
      <mat-icon class="action-icon">description</mat-icon>
    </button>
    <button
      mat-fab
      class="full-size-button"
      color="primary"
      matTooltip="Przywołaj menu wyboru"
      (click)="openSelectAttachmentSourceDialog()"
    >
      <mat-icon class="full-size-icon">more_horiz</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      matTooltip="Uzupełnij przesyłany plik o dowolny komentarz"
      (click)="openAddCommentForUploadDialog()"
    >
      <mat-icon class="action-icon">description</mat-icon>
    </button>
  </div>
</span>
